body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 120px;
    border-radius: 60px;
    box-shadow: 0 0 5px #fff9c4, 0 0 10px #fff9c4, 0 0 20px #fff9c4, 0 0 30px #fff9c4;
    transition: 0.3s; 
   
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c41411;
    transition: 0.4s;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 36px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.slider:hover {
    box-shadow: 0 0 10px #fff9c4, 0 0 20px #fff9c4, 0 0 30px #fff9c4, 0 0 40px #fff9c4;
}

.slider:before {
    position: absolute;
    content: "";
    height: 96px;
    width: 96px;
    left: 12px;
    bottom: 12px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

input:checked+.slider {
    background-color: #4CAF50;
}

input:checked+.slider:before {
    transform: translateX(120px);
}

.slider-label-on {
    position: absolute;
    left: 40px;
}

.slider-label-off {
    position: absolute;
    right: 40px;
    color: rgb(255, 255, 255);
}

input:checked+.slider .slider-label-off {
    color: rgba(255, 255, 255, 0.2);
}

input:not(:checked)+.slider .slider-label-on {
    color: rgba(255, 255, 255, 0.2);
}